<footer class="footer">
  <!--Left Boxes -->
  <section class="mango-boxes-left">
    <p class="gift">
      <b>Gift</b><br/>
      a <b>MangoBox</b><br/>
      Today
    </p>
    <p class="subscription">
      Subscribe <br/> to our <br/> <a href="#"><b>Newsletter</b>!</a>
    </p>
     <section class="pull-right visible-xs">
    <p><a href="#">© MANGO EDUCATION, 2015</a></p>
  
  </section>
  
  </section>
   <section class="pull-right hidden-xs">
    <p><a href="#">© MANGO EDUCATION, 2015</a></p>
  
  </section>
</footer>
