<header>
        <nav class="mango-nav navbar col-sm-8  col-md-8 col-md-offset-2">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mango-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="mango-nav">
              <ul class="nav navbar-nav">
 
                 
 
                <li><a id="about" href="{{ "/index.html" | prepend: site.baseurl }}">MANGO EDUCATION</a></li>
                <li><a id="mangobox" href="{{ "/index.html" | prepend: site.baseurl }}">MANGOBOX</a></li>
 
                <li><a id="mangocamp" href="#">MANGOCAMP</a></li>
                <li><a id="contact" href="#">CONTACT</a></li>
                <li><a id="blog" href="/blog">BLOG</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!--Logo-->
        <div class="mango-logo">
          <img src="{{ "/images/mango-logo1.png" | prepend: site.baseurl }}" alt="Mango Education"/>
        </div>
        <div class=" mango-boxes-right">
          <div class="brand hidden-xs">
            <h1><a href="#">www.themango.co</a></h1>
          </div>
          <div class="social-box">
        <!-- Used Font Awesome Icons -->
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-youtube-square"></i>
          </div>
        </div>
      </header>
