<!doctype html>
<html class="no-js" lang="">
  {% include head.html %}
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container-fluid">
      {% include header.html %}

      <div id="main" class="container mango-container">
        <div class="row">
            {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{{ "/scripts/jquery.js" | prepend: site.baseurl }}"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="{{ "/scripts/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <!-- build:js scripts/plugins.js -->
    <!--<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>-->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="{{ "/scripts/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      getWindowSize();
      function getWindowSize(){
        var d= document, root= d.documentElement, body= d.body;
        var wid= window.innerWidth || root.clientWidth || body.clientWidth,
            hi= window.innerHeight || root.clientHeight || body.clientHeight;
        var container = document.getElementById('main');
            container.style.width = wid +'px';
            container.style.height = hi-220 + 'px';
        return [wid,hi]
      }
      window.onresize = function(){
        getWindowSize();
      }
      // $(document).ready(function(){
      //   $(".owl-carousel").owlCarousel({
      //     items: 1,
      //     startPosition: "#mango-landing"
      //   });
      // });

      $(document).ready(function(){
        var carousel = $(".owl-carousel");
        carousel.owlCarousel({
          items: 1,
          startPosition: "#mango-landing"
        });
        $('#about').click(function(){
          carousel.trigger('to.owl.carousel',[0,500]);
        });
        $('#mangobox').click(function(){
          carousel.trigger('to.owl.carousel',[1,500]);
        });
        $('#mangocamp').click(function(){
          carousel.trigger('to.owl.carousel',[2,500]);
        });
        $('#contact').click(function(){
          carousel.trigger('to.owl.carousel',[3,500]);
        });
        $('.navbar-collapse a').click(function(){
        $(".navbar-collapse").collapse('hide');
         });
        $("li").click(function(){
        // If this isn't already active
       if (!$(this).hasClass("active")) {
            // Remove the class from anything that is active
            $("li.active").removeClass("active");
            // And make this active
            $(this).addClass("active");
          }
        });
        // $('#blog').click(function(){
        //   carousel.trigger('to.owl.carousel',[4,500]);
        // });

      });
  /*  if(screen.width<=640)) {
   $( ".nav" ).addClass( "navbar-fixed-top" );
      }
      else
      {
   $("nav").removeClass("navbar-fixed-top")
      }*/
      if ($(window).width() <= 640) {
          $( ".nav" ).addClass( "navbar-fixed-top" );
      }
      else {
          $("nav").removeClass("navbar-fixed-top")
      }
    </script>
    <!-- endbuild -->
  </body>
</html>
